@import '~compass-mixins';
@import '~widget-core-library/dist/scss/core.scss';

.fb, .fb span, .fb span iframe[style] {
   width: 100% !important;
   height: 100%;
}

img {
   display: block;
   width: 20px;
   height: 20px;
}
