@import '~compass-mixins';
@import '~kambi-widget-core-library/src/scss/core.scss';

.fb, .fb span, .fb span iframe[style] {
   width: 100% !important;
   height: 100%;
}

header {
   min-height: 37px;
}

img {
   display: block;
   width: 20px;
   height: 20px;
}

body, html, main, main * {
   height: 100%;
}
